<li>
    <a class="accordion-toggle {{ menu_state }}" id="module_{{ module_name }}" href="#">
        <span class="fa fa-book"></span>
        <span class="sidebar-title">{{ 'Basisregistratie'|translate }}</span>
        <span class="caret"></span>
    </a>
    <ul class="nav sub-nav">
        <li>
            <a href="/custom/novumbrp/basisregistratie/persoon/overview">
                <span class="fa fa-file-text-o"></span>
                    {{ 'Personen'|translate }}
            </a>
        </li>
        <li>
            <a href="/custom/novumbrp/basisregistratie/adres/overview">
                <span class="fa fa-file-text-o"></span>
                    {{ 'Adressen'|translate }}
            </a>
        </li>
        <li>
            <a href="/custom/novumbrp/basisregistratie/relatie/overview">
                <span class="fa fa-file-text-o"></span>
                    {{ 'Relaties'|translate }}
            </a>
        </li>
        <li>
            <a href="/custom/novumbrp/basisregistratie/persoon_relatie/overview">
                <span class="fa fa-file-text-o"></span>
                    {{ ''|translate }}
            </a>
        </li>
    </ul>
</li>